.profilehead {
    border: 1px solid #E3E3E3;
    border-radius: 15px;
    padding-right: 6px;
    font-size: 12px;
    display: flex;
    align-items: center;
    // width: 100%;


}

.choose {
    display: flex;
    cursor: pointer;
    padding: 8px;
    width: 140px;
    border: 1px solid #262626;
    border-radius: 10px;
    margin-bottom: 14px;
}

.choosecard {
    width: 50%;
    display: flex;
    justify-content: center;
    color: #A3A3A3;

    &:hover {
        background-color: #262626;
        border-radius: 4px;

    }
}

.colouredCard {
    background-color: #262626;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.qr {
    display: flex;
    justify-content: center;
}

.selectedAction {
    background-color: #262626;
    border-radius: 4px;
}

.prices {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.walletAddress {
    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
}

.contact {
    @media screen and (max-width: 768px) {
        position: absolute;
        left: 0px;
        top: 23%;
    }
}
 
.myAdsAction {
    @media screen and (max-width: 768px) {
        margin-left: 90px;
        margin-bottom: 5px;
    }
}

.formContainer {
    @media screen and (max-width: 768px) {
       width: 398px;
    }
}

.tradeContainer {
    @media screen and (max-width: 768px) {
        width: 450px;
     }
}